<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../assets/graduation-cap-solid.svg" width="45px" height="45px" alt="">
      Solicitud Baja de Alumno
    </a>
  </div>
</nav>

<div class="card m-3">
  <div class="card-header">
    Buscador...
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-5">
        <div class="row g-3 align-items-center">
          <div class="col-auto">
            <label class="col-form-label">Ingrese la Matricula</label>
          </div>
          <div class="col">
            <input type="number" class="form-control" >
          </div>
        </div>
      </div>
      <div class="col-5">
        <div class="row g-3 align-items-center">
          <div class="col-auto">
            <label class="col-form-label">Seleccione el periodo</label>
          </div>
          <div class="col">
            <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
              <option selected>Periodo</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col">
        <button class="btn btn-primary btn-block">
          Buscar
        </button>
      </div>
    </div>
  </div>
</div>

<div class="m-3">
  <div class="row row-cols-2">

    <div class="col">
      <div class="card">
        <div class="card-header">
          Informacion General
        </div>
        <div class="card-body">
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Alumno</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" value="Cristian Omar Puentes Diaz" aria-label="readonly input example" readonly>
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Matricula</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" value="170842" aria-label="readonly input example" readonly>
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Estado</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" value="IN" aria-label="readonly input example" readonly>
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Grupo</label>
            <div class="col-sm-10">
              <input class="form-control" type="text" value="IDGS-11-C" aria-label="readonly input example" readonly>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-header">
          II-Acciones del Orientador
        </div>
        <div class="card-body">
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Tipo</label>
            <div class="col-sm-10">
              <select class="form-select" aria-label="Default select example">
                <option selected>Seleccione una opcion</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
            <button class="btn btn-warning mt-4 justify-content-md-end">
              Comenzar Proceso de Baja
            </button>
          </div>
        </div>
      </div>

    </div>

    <div class="col mt-3">
      <div class="card">
        <div class="card-header">
          I-Baja Alumno
        </div>
        <div class="card-body">
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Tipo</label>
            <div class="col-sm-10">
              <select class="form-select" aria-label="Default select example">
                <option selected>Seleccione una opcion</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Causa</label>
            <div class="col-sm-10">
              <select class="form-select" aria-label="Default select example">
                <option selected>Seleccione una opcion</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </div>
          <div class="mb-3 row">
            <label class="col-sm-2 col-form-label">Motivo</label>
            <div class="col-sm-10">
              <select class="form-select" aria-label="Default select example">
                <option selected>Seleccione una opcion</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">

    </div>

  </div>
</div>
